
.login {
  margin:auto;
  max-width: 400px;
  font-weight: bold;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.login label {
  color:#363a43;
}


.login button{
  background-color: #F26832;
  color:white;
  border-radius:50px;
  height: 50px;
  border:0;
  cursor: pointer;
  font-weight: bold;
  font-size:14px;
}

.login button:hover {
  background-color: #FA4F5F;
}


input[type="text"], input[type="password"]{
  height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  border: 1px solid #C3C6CF;
  padding-left: 10px;
}

input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid #1E8E9A ;
}

.login-wrapper {
  margin-top: 5%;
}

.login *{
  margin:1%;
}

.login form {
  width: 460px;
}

.login form ul{
  display:block;
}

.login form li{
  display:flex;
  flex-direction: column;
  margin:15px;
}
.login form li * {
   margin:5px;
}

#rememberMe {
  display: none;
  /*display: block;
  align-items: flex-start;
  flex-direction: row;*/
}

#forgot_password {
  color:#1E8E9A;
  margin:auto;
  width: auto;
  cursor: pointer;
}

#forgot_password:hover{
  text-decoration: underline;
}
