bp.app{
  background-color: #F8F8FA;
  padding:20px;
}

ul {
padding: 0;
margin: 0;
list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #0093D7;
}

nav {
  display: flex;
   justify-content: space-between;
}

nav a {
  text-transform: capitalize;
  color:#45494E;
}

nav a:hover, #logout-button:hover{
  background-color: #F8F8FA;
}

/*nav ul li a:last-child{
  color:#0278b8;
}*/

/*{
  display: inline-block;
}*/

nav ul li a {
  padding: 20px;
  display: block;
  font-size: 16px;
}

.logo {
  display: inline;
  float: left;
  color:#F26832;
  font-family: "Benton Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding:15px;
  border-right: 1px solid #EFF2F5;
}
.logo:hover{
  background-color: #FFFFFF;
}

.global-header{
  border-bottom: 1px solid #EFF2F5;
}


.user-menu-dropdown  {
	border-bottom: 1px solid #EFF2F5;
  background-color: #FFFFFF;
}

.user-menu-dropdown li {
	margin: 0px 0;
	cursor: pointer;
	font-size: 12px;
	display:block;
  font-family: Helvetica, Tahoma, Arial, sans-serif
}

 nav ul li{
  display: inline-block;
  position:relative;
  border-left: 1px solid #EFF2F5;
}

nav li ul {
  display: none;
  position: absolute;
  top: 1em;
  width: 250px;
  margin-right: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
	border: 1px solid #EFF2F5;
  color: blue;
}


nav li > ul {
  top: auto;
  left: -168px;
}

 nav li:hover ul {

  display: block;

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


#logout-button{
  font-size: 16px;
  padding: 20px;
  background-color: white;
  cursor: pointer;
  border:none;
  width:100%;
  text-align: left;
  font-weight: 200;
  color: #45494E;
  font-family:"Helvetica", "Tahoma", "Arial", "sans-serif"
}

.errors{
  color:red;
}

.topic-list-nav{
  background-color: white;
  border: 1px solid #EFF2F5;
  border-top: none;
  width: 450px;
  position:absolute;
  left: 237px;
  top : 60px;
  display: none;
}

.topic-list-nav ul li{
  display:block;
}

.search_bar input:focus + div {
  display:block;
}

.event-index-body{
  background-color: #F8F8FA;
}

.event-index-wrapper {
  display:flex;
  margin:auto;
  max-width: 1080px;
  padding-top: 20px;
}

.event-index-wrapper section {
  margin: 5px;
}

.map-placeholder{

}

.filter-placeholder{
  background-color: white;
  font-size:15px;
  line-height: 22px;
  font-weight: 400;
}

.filter-location-search{
  padding: 10px;
  display:block;
}

.filter-list{
   margin-left:20px;
}

.filter-list ul li {
  margin:10px;
}

.event-index-item{
  display:block;
  margin:10px;
  width: 700px;
  height:200px;
  background-color:white;
}

.event-index-item button {
  background-color: #FFFFFF;
  border:none;
  cursor:pointer;
  color:#0093D7;
}

.event-index-item span{
  display:flex;
}

.event-index-item-header{
  height: 80%
}
.event-index-item-header a{
  height:100%;
}
.event-index-item-header span{
  display:flex;
  height: inherit;
}

.event-index-item-header-image{
  width:20%;
  background-color: blue;
}

.event-index-item-footer-image{
  width: 20%;
}

/*.event-index-item-image-group:last-child{
  background-color: gray;
  border-bottom: 1px solid #EFF2F5;
  height:20%;
}*/

/*.event-index-item-text-group{
  background-color: white;
  width:80%;
}*/

.event-index-item-text-header{
  background-color: white;
  width:80%;
  height: 80%;
}

.event-index-item-header-text{
  padding-top:20px;
}

.event-index-item-header-text > *{
  padding-left: 20px;
}

.event-index-item-footer{
  display:flex;
  justify-content:flex-start;
  border:1px solid #EFF2F5;
  height:20%;
}

.event-index-item-footer-text{
  display:flex;
  justify-content:space-between;
  border:1px solid #EFF2F5;
  width: 80%;
}

.event-index-item-footer-actions{
  display: flex;
  justify-content: right;
}
.event-index-item-footer-actions *{
  border-left:1px solid #EFF2F5;
}


.event-show{
  width: 700px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  min-width: 1080px;
  background-color: #ffffff;
  border-radius:3px;

}
.event-show-header{
  padding-top:20px;
  display:flex;
  background-color: #F9F9F9;
}

.event-show-header-image{
  padding-bottom: 10px;
}

.event-show-header img{
  height: 100%;
}


.event-show-header-left-pane > div{
  margin-bottom: 100px;
}
.event-show-header-left-pane > div:last-of-type{
  margin-bottom: 0px;
}

.event-show-header-right-pane > div{
  margin-bottom: 100px;
  margin-left: 100px;
}


.event-show-header-right-pane,
.event-show-detail-description,
.event-show-detail-other-info
 {
  width: 50%;
}

.event-show-header-left-pane{
  width: 100%;
  padding-left: 30px;
}

.event-show-header-right-pane{
  position:relative;
  display:flex;
  justify-content: flex-end;

}

.event-show-header-type-ticket{

}
.event-show-header-date{

}
.event-show-header-title{

}
.event-show-header-organizer{

}

.event-show-action{
  display:flex;
  justify-content: space-between;
  border-top: 1px solid  #EFF2F5;
  border-bottom: 1px solid  #EFF2F5;
  padding:20px;
}
.event-show-action-share-bookmark{
  display:flex;

}
.event-show-action-share-bookmark button{
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor:pointer;
}


.event-show-action-share-register button{
  background-color: #00ab44;
  height:40px;
  cursor:pointer;
  width: 200px;
  font-weight: 400;
  color: white;
}

.event-show-action-share-register button:hover{
  background-color: #01451B;
}

.event-show-detail{
  display:flex;
  padding:20px;
}

.event-show-detail-description > div{
  margin-bottom: 100px;
  margin-left: 100px;
}
.event-show-detail-other-info > div{
  margin-bottom: 100px;
  margin-left: 100px;
}
.event-show-organizer-wrapper{

}
.event-show-organizer-content{

}


.event-form{
  width: 700px;
  margin-left: auto;
  margin-right:auto;
  min-width: 1080px;
  border-radius:3px;
}

.event-form-container h2{
  display: inline-block;
  font-size: 30px;
  padding-left: 20px
}
.event-form-container h1{
   font-size: 40px;
   font-weight:bold;
}

.event-form label{
  vertical-align: middle;
  font-size: 16px;
  color:#282c35;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold
}

.event-form textarea{
   padding-left:15px;
   padding-top:7px;
   font-size: 18px;
}

.event-form-container  button{
  margin-right:10px;
  background-color: transparent;
  color:#0278b8;
  padding:9px 18px;
  border:2px solid #0278b8;
  cursor:pointer;
}

.event-form-container  button:hover{
  background-color:#013653;
  color: #ffffff;
}

.event-form-container  .live-event {
  color: #ffffff;
  border:none;
  background-color:#00ab44;
}
.event-form-container  .live-event:hover {
  background-color: #00451B  ;

}

.event-form .date-picker {
  width:130px;
  display: inline;
  padding: 10px 15px;;
  font-size:14px;
  margin-right:15px;
}

.event-form .time-picker{
  width:130px;
  display: inline;
  padding : 10px;
  font-size: 14px;
  margin-right: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.event-form-container {
  background-color: #F8F8FA;
  width:100%
}



.event-form-container .header .title{
  display: flex;
  justify-content: space-between;
  padding-top:20px;
  padding-bottom: 20px;
  width: 1080px;
  margin:auto;
}

.event-form-container .header .action {
  background-color: #282C35;
  color:white;
}

.event-form-container .header .action > div {
  width: 1080px;
  margin:auto;
}

.event-form-container .header .action ul{
  display: flex;
  justify-content: flex-start;
}
.event-form-container .header .action li{
  border-right:1px solid black;
}
.event-form-container .header .action ul li a{
  display:block;
  cursor:pointer;
  padding:20px 40px;
  color:white;
}

.event-form fieldset {
  margin-top:20px;
}


.event-form fieldset header {
  border-bottom: 1px solid #D2D6DF
}

.event-form fieldset header h2:first-child {
  background-color:  #0093d7;
  padding:10px 15px;
  color:white;
}

.event-form fieldset section > div {
  margin-top: 15px;
}



.event-form fieldset .details-attr > * {
  display:block;
  margin-top:7px;
}


.event-form fieldset .details-attr input {
  width: 80%
}

.event-form fieldset .details-g-attr .start-end-date {
  display:flex;
}
.event-form fieldset .details-g-attr .start-end-date .flex {
  display: flex;
}
.event-form fieldset .date-zone {
  margin-right: 20px;
}

.event-form fieldset select{
  padding: 10px;
  width: 25%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 1;
  display: block;
  font-size: 16px;
  background: #fff;
  overflow: hidden;
  -webkit-appearance: menulist-button;
}

/*.event-form fieldset .details-g-attr > * {
  display: inline-block;
}*/

.event-form-container .actions {
  background-color: #fff;
  border-top: 1px solid #D2D6DF;
  padding-top: 60px;
  padding-bottom: 60px;

  z-index: 1;
  width: 100%;
}

.event-form-container .actions div{
  margin :  auto;
  text-align: center;

}

.event-form-container .actions div *{

  margin-bottom: 10px;
}

.event-form .initial-type-ticket{
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  padding-top: 30px;
  padding-bottom:20px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
  border-left: 1px solid #D2D6DF;
  border-right: 1px solid #D2D6DF;
  border-bottom: 1px solid #D2D6DF;
}

.event-form .initial-type-ticket > *{
  margin-top: 15px;
  margin-bottom:15px;

}





.event-form .fields{
  margin-bottom:20px;
}

.table-ticket{
  border-radius:10%;
  border-color: 1px solid #D2D6df;
  width: 100%;
}

.table-ticket ul{
  display:flex;
  align-content: space-around;
}

.table-ticket ul > li{
  padding: 10px 15px;
}

.event-registration .wrapper{
  width: 900px;
  margin :auto 0;
  display: flex;
}

.event .order-container {
  border-radius:3px;
  border: 1px solid #D5D5D3;
  background-color: #EFEFEF;
  border: 1px solid #D2D6DF;
}

.event .order-container h3{
  border-bottom: 1px solid #D5D5D3;
  color: #00580;
  font-weight: bold;
  font-size:16px;
}

.event .order-container button{
  background-color: #01AB45;
  border:0;
  font-size:20px;
  padding:9px 26px;
}

.event .ticket_table_container{
  width:500px;

}

.ticket_table{
  width:100%;
  margin-top: 20px;
  border-top: 1px solid #D2D6DF;
  border-left: 1px solid #D2D6DF;
  border-right: 1px solid #D2D6DF;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
}

.ticket_table header{
  width:100%;
  color: #45494E;
  background-color: #EFF2F5;
  padding-bottom: 15px;
}

.ticket_table ul {
  width: 100%;
  display: flex;
  padding-left:15px;
}

.ticket_table input{
  width: 90%
}

.ticket_table ul li{
  padding-top:15px;
}

.ticket_table ul li label{
  padding-top:15px;
}

.ticket_table ul li:nth-child(1) {
  width: 35%;

}

.ticket_table ul li:nth-child(2){
  width: 25%;
}

.ticket_table ul li:nth-child(3){
  width: 25%;

}
.ticket_table ul li:nth-child(4){
  width: 25%;
}

.ticket_table ul li {
  vertical-align: center;
}

.ticket_table-item {
  background-color: white;
  margin-top: 0px;
  padding:0px 0 15px 10px;
  border-bottom: 1px solid #D5D5D3;
}

.event-home{
  background-color: #F8F8FA;
}

.event-home-body{
  /*position: relative;*/
}

.event-list-item-container > div:nth-child(2){
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  z-index: 100;
  position: relative;
}

.event-list{
  margin-left:auto;
  margin-right: auto;
  max-width:1080px;
  /*position: absolute;
  top:400px;
  left:0;
  right:0;*/

  z-index: 200;

}

.search-div
{
  margin-left:auto;
  margin-right: auto;
  width:100%;
  background-color: #ffffff;
  border-radius: 4px;
  z-index: 100;
  background: linear-gradient( rgba(255, 255, 255, 0.9) 0%, white 50%);
  margin-bottom: 20px;
  padding: 40px 0px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  margin-top: -140px;
}


.carousel
{

  height:500px;
  background-color: #F8F8FA;
}



.search-div h1{
  font-size: 45px;
  font-family: "Benson Sans", "Helvetica Neue", Helvetica, Roboto, Arial,sans-serif;
  color: #f6682F;
  margin-left:auto;
  margin-right: auto;
  width:600px;
  font-weight: normal;
  top:50px;
  z-index:300px;


}

.filter-box{
  margin-top: 20px;

  margin-left:auto;
  margin-right: auto;
  width:800px;

}

.filter-box input {
  border: 1px solid #D2D6DF solid;

}

.event .search-div
.filter-box input:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.filter-box > * {
  margin-left: 5px;
}

.filter-box
button {
  background-color: #f6682F;
  color:white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor:pointer;
  padding:15px 30px;
  border:none;
}
.filter-box
select{
  padding:12px;
  /*opacity: 0;*/
    /*width: 100%;
    height: 100%;
    margin: 0;*/
    cursor: pointer;
    /*z-index: 1;
    display: block;*/
    font-size: 16px;
    background: #fff;
}

.event-search-div
.button:hover {
  background-color: #B73A08;
}

/*.event-index-content{
  background-image:
}*/


#slideshow-image-1 {
  background-image: url("http://res.cloudinary.com/dldbslv2a/image/upload/v1476080450/slideshow_image_1_yqbv17.jpg");
}

#slideshow-image-2 {
  background-image: url("http://res.cloudinary.com/dldbslv2a/image/upload/v1476080451/slideshow_image_2_b1kson.jpg");
}

#slideshow-image-3 {
  background-image: url("http://res.cloudinary.com/dldbslv2a/image/upload/v1476080452/slideshow_image_3_isgnpe.jpg");
}

#slideshow-image-4 {
  background-image: url("http://res.cloudinary.com/dldbslv2a/image/upload/v1476080452/slideshow_image_4_m5hujb.jpg");
}



.event-home-item{
  /*margin-top: 20px;
  margin-right:30px;*/
}

.event-home-item{

}

.event-for-you{
  display: none;
}

.event-list-search-holder{
  position:relative;
}

.event-home-item button {
  background-color: #FFFFFF;
  border:none;
  cursor:pointer;
  color:#0093D7;
}

.event-home-item {
  background-color: white;
  margin-bottom: 20px;
}
.event-home-item-header-text{
  padding-top:20px;

}

.event-home-item-header-text > *{
  padding-left: 10px;
}

.event-home-item-header-image{
  position:relative;
  height:165px;
  width: 330px;
}

.event-home-item-header-image image{
  height: 100%;
  width: 100%;
}

.event-home-item-footer-image{
  position:absolute;
  right:0;
  top:0;
  background-color: white;
  padding: 5px;
  margin: 10px;
}

.event-home-item-footer{
  display:flex;
  justify-content:flex-start;
  border:1px solid #EFF2F5;
  height:20%;
  padding:15px;


}

.event-home-item-footer-text{
  display:flex;
  justify-content:space-between;
  /*border:1px solid #EFF2F5;*/
  width: 100%;
}

.event-home-item-footer-actions{
  display: flex;
  justify-content: right;
}
.event-home-item-footer-actions *{
  /*border-left:1px solid #EFF2F5;*/
}

.event-bookmarked{
  background-image: url('https://s3.us-east-2.amazonaws.com/eventdonesimple-dev/static_images/bookmarked.png');
  width: 64px;
  height:64px;
  display:block;
}

.event-not-bookmarked{
  background-image: url('https://s3.us-east-2.amazonaws.com/eventdonesimple-dev/static_images/not_bookmarked.png');
  width: 64px;
  height:64px;
  display:block;
}

.maintenance h1{
  font-size: 50px;
}

.maitnenace div {
  font: 20px Helvetica, sans-serif; color: #333;
}

.maintenance article{
  display: block; text-align: left; width: 650px; margin: 0 auto;
}

.maintenance a {
  color: #dc8100; text-decoration: none;
}

.maintenance a:hover{
  color: #333; text-decoration: none;
}
