.app{
  background-color: #F8F8FA;
  padding:20px;
}

ul {
padding: 0;
margin: 0;
list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #0093D7;
}

nav {
  display: flex;
   justify-content: space-between;
}

nav a {
  text-transform: capitalize;
  color:#45494E;
}

nav a:hover, #logout-button:hover{
  background-color: #F8F8FA;
}

/*nav ul li a:last-child{
  color:#0278b8;
}*/

/*{
  display: inline-block;
}*/

nav ul li a {
  padding: 20px;
  display: block;
  font-size: 16px;
}

.logo {
  display: inline;
  float: left;
  color:#F26832;
  font-family: "Benton Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding:15px;
  border-right: 1px solid #EFF2F5;
}
.logo:hover{
  background-color: #FFFFFF;
}

.global-header{
  border-bottom: 1px solid #EFF2F5;
}


.user-menu-dropdown  {
	border-bottom: 1px solid #EFF2F5;
  background-color: #FFFFFF;
}

.user-menu-dropdown li {
	margin: 0px 0;
	cursor: pointer;
	font-size: 12px;
	display:block;
  font-family: Helvetica, Tahoma, Arial, sans-serif
}

 nav ul li{
  display: inline-block;
  position:relative;
  border-left: 1px solid #EFF2F5;
}

nav li ul {
  display: none;
  position: absolute;
  top: 1em;
  width: 250px;
  margin-right: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
	border: 1px solid #EFF2F5;
  color: blue;
}


nav li > ul {
  top: auto;
  left: -168px;
}

 nav li:hover ul {

  display: block;

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


#logout-button{
  font-size: 16px;
  padding: 20px;
  background-color: white;
  cursor: pointer;
  border:none;
  width:100%;
  text-align: left;
  font-weight: 200;
  color: #45494E;
  font-family:"Helvetica", "Tahoma", "Arial", "sans-serif"
}

.errors{
  color:red;
}

.topic-list-nav{
  background-color: white;
  border: 1px solid #EFF2F5;
  border-top: none;
  width: 450px;
  position:absolute;
  left: 237px;
  top : 60px;
  display: none;
}

.topic-list-nav ul li{
  display:block;
}

.search_bar input:focus + div {
  display:block;
}

.event-index-body{
  background-color: #F8F8FA;
}

.event-index-wrapper {
  display:flex;
  margin:auto;
  max-width: 1080px;
  padding-top: 20px;
}

.event-index-wrapper section {
  margin: 5px;
}

.map-placeholder{

}

.filter-placeholder{
  background-color: white;
  font-size:15px;
  line-height: 22px;
  font-weight: 400;
}

.filter-location-search{
  padding: 10px;
  display:block;
}

.filter-list{
   margin-left:20px;
}

.filter-list ul li {
  margin:10px;
}

.event-index-item{
  display:block;
  margin:10px;
  width: 700px;
  height:200px;
  background-color:white;
}

.event-index-item button {
  background-color: #FFFFFF;
  border:none;
  cursor:pointer;
  color:#0093D7;
}

.event-index-item span{
  display:flex;
}

.event-index-item-header{
  height: 80%
}
.event-index-item-header a{
  height:100%;
}
.event-index-item-header span{
  display:flex;
  height: inherit;
}

.event-index-item-header-image{
  width:20%;
  background-color: blue;
}

.event-index-item-footer-image{
  width: 20%;
}

/*.event-index-item-image-group:last-child{
  background-color: gray;
  border-bottom: 1px solid #EFF2F5;
  height:20%;
}*/

/*.event-index-item-text-group{
  background-color: white;
  width:80%;
}*/

.event-index-item-text-header{
  background-color: white;
  width:80%;
  height: 80%;
}

.event-index-item-header-text{
  padding-top:20px;
}

.event-index-item-header-text > *{
  padding-left: 20px;
}

.event-index-item-footer{
  display:flex;
  justify-content:flex-start;
  border:1px solid #EFF2F5;
  height:20%;
}

.event-index-item-footer-text{
  display:flex;
  justify-content:space-between;
  border:1px solid #EFF2F5;
  width: 80%;
}

.event-index-item-footer-actions{
  display: flex;
  justify-content: right;
}
.event-index-item-footer-actions *{
  border-left:1px solid #EFF2F5;
}


.event-show{
  width: 700px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  min-width: 1080px;
  background-color: #ffffff;
  border-radius:3px;

}
.event-show-header{
  padding:20px;
  display:flex;
}

.event-show-header-left-pane > div{
  margin-bottom: 100px;
  margin-left: 100px;
}

.event-show-header-right-pane > div{
  margin-bottom: 100px;
  margin-left: 100px;
}

.event-show-header-left-pane ,
.event-show-header-right-pane,
.event-show-detail-description,
.event-show-detail-other-info
 {
  width: 50%;
}

.event-show-header-right-pane{
  position:relative;
  display:flex;
  justify-content: flex-end;

}

.event-show-header-type-ticket{
  position: absolute;
    top: 90%;
    left: 50%;
    height: 30%;
    width: 50%;
    right:10%;
}
.event-show-header-date{

}
.event-show-header-title{

}
.event-show-header-organizer{

}

.event-show-action{
  display:flex;
  justify-content: space-between;
  border-top: 1px solid  #EFF2F5;
  border-bottom: 1px solid  #EFF2F5;
  padding:20px;
}
.event-show-action-share-bookmark{
  display:flex;

}
.event-show-action-share-bookmark button{
  margin-left: 10px;
  margin-rEvent Details
Event Titleight: 10px;
  cursor:pointer;

}


.event-show-action-share-register button{
  background-color: #00ab44;
  height:40px;
  cursor:pointer;
  width: 200px;
  font-weight: 400;
  color: white;
}

.event-show-action-share-register button:hover{
  background-color: #01451B;
}

.event-show-detail{
  display:flex;
  padding:20px;
}

.event-show-detail-description > div{
  margin-bottom: 100px;
  margin-left: 100px;
}
.event-show-detail-other-info > div{
  margin-bottom: 100px;
  margin-left: 100px;
}
.event-show-organizer-wrapper{

}
.event-show-organizer-content{

}


.event-form{
  width: 700px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  min-width: 1080px;
  border-radius:3px;
}

.event-form h2{
  display: inline-block;
  font-size: 30px;
  padding-left: 20px
}
.event-form h1{
   font-size: 40px;
   font-weight:bold;
}

.event-form label{
  vertical-align: middle;
  font-size: 16px;
  color:#282c35;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold
}

.event-form textarea{
   padding-left:15px;
   padding-top:7px;
   font-size: 18px;
}

.event-form button{
  margin-left:10px;
  margin-right:10px;
  background-color: transparent;
  color:#0278b8;
  padding:9px 18px;
  border:2px solid #0278b8;
  cursor:pointer;
}

.event-form button:hover{
  background-color:#013653;
  color: #ffffff;
}
.event-form .live-event {
  color: #ffffff;
  border:none;
  background-color:#00ab44;
}
.event-form .live-event:hover {
  background-color: : #00451B  ;

}

.event-form .date-picker {
  width:130px;
  display: inline;
}

.event-form .header .title{
  display: flex;
  justify-content: space-between;
  padding-top:20px;
  padding-bottom: 20px;
}

.event-form .header .action {
  background-color: #282C35;
  color:white;
}

.event-form .header .action ul{
  display: flex;
  justify-content: flex-start;
}
.event-form .header .action li{
  border-right:1px solid black;
}
.event-form .header .action ul li a{
  display:block;
  cursor:pointer;
  padding:30px;
  color:white;
}

.event-form fieldset {
  margin-top:20px;
}


.event-form fieldset header {
  border-bottom: 1px solid #D2D6DF
}

.event-form fieldset header h2:first-child {
  background-color:  #0093d7;
  padding:10px;
  color:white;
}

.event-form fieldset section > div {
  margin-top: 15px;
}

.event-form fieldset .details-attr > * {
  display:block;
  margin-top:7px;
}

.event-form fieldset .details-attr input {
  width: 80%
}

.event-form fieldset .details-g-attr > * {
  display: inline-block;
}

.event-form .content .actions {
  background-color: white;
}

.event-form .initial-type-ticket{
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  padding-top: 30px;
  padding-bottom:20px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
  border-left: 1px solid #D2D6DF;
  border-right: 1px solid #D2D6DF;
  border-bottom: 1px solid #D2D6DF;
}

.event-form .initial-type-ticket > *{
  margin-top: 15px;
  margin-bottom:15px;

}

.table-ticket{
  border-radius:10%;
  border-color: 1px solid #D2D6df;
  width: 100%;
}

.table-ticket ul{
  display:flex;
  align-content: space-around;
}

.table-ticket ul > li{
  padding: 10px 15px;
}

.event-registration .wrapper{
  width: 900px;
  margin :auto 0;
  display: flex;
}

.event .order-container {
  border-radius:3px;
  border: 1px solid #D5D5D3;
  background-color: #EFEFEF;
  border: 1px solid #D2D6DF;
}

.event .order-container h3{
  border-bottom: 1px solid #D5D5D3;
  color: #00580;
  font-weight: bold;
  font-size:16px;
}

.event .order-container button{
  background-color: #01AB45;
  border:0;
  font-size:20px;
  padding:9px 26px;
}

.event .ticket_table_container{
  width:500px;

}

.ticket_table{
  width:100%;
  margin-top: 20px;
  border-top: 1px solid #D2D6DF;
  border-left: 1px solid #D2D6DF;
  border-right: 1px solid #D2D6DF;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
}

.ticket_table header{
  width:100%;
  color: #45494E;
  background-color: #EFF2F5;
  padding-bottom: 15px;
}

.ticket_table ul {
  width: 100%;
  display: flex;
  padding-left:15px;
}

.ticket_table input{
  width: 90%
}

.ticket_table ul li{
  padding-top:15px;
}

.ticket_table ul li label{
  padding-top:15px;
}

.ticket_table ul li:nth-child(1) {
  width: 35%;

}


.ticket_table ul li:nth-child(2){
  width: 25%;

}

.ticket_table ul li:nth-child(3){
  width: 25%;

}
.ticket_table ul li:nth-child(4){
  width: 25%;

}

.ticket_table ul li {
  vertical-align: center;
}

.ticket_table-item {
  background-color: white;
  margin-top: 0px;
  padding:0px 0 15px 10px;
  border-bottom: 1px solid #D5D5D3;
}
