

.select-ticket-container{
  background-color: #F8F8FA;
  min-width: 600px;
}

.select-ticket-header{
  line-height: 20px;
  vertical-align: middle;
  background-color: #EFF2F5;
  width: 600px;
  padding: 15px;
}

.select-ticket-header h1{
  font-size: 20px;
  text-align: center;
}

.select-ticket-items{
  margin:20px;
}

.select-ticket-item{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  background-color: #fff;
  border-left: 10px solid #0093D7;
  padding-left: 10px;
  padding-right: 10px;
}

.select-ticket-item > *{
  padding:20px;
}

.select-ticket-info{

}

.select-ticket-info h2{
  color: #282C35;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 5px;
  word-wrap: break-word;

}

.select-ticket-info span{
  color: #45494E;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 22px;
  padding: 0 5px 0 0
}

.select-ticket-quantity{

}

.select-ticket-quantity select {
  display: inline-block;
  vertical-align: middle;
  border: 1px #D2D6DF solid;
  border-radius: 3px;
  color: #45494E;
  background-color: #fff;
  font-size: 16px;
  line-height: 16px;
  height: 44px;
  box-sizing: border-box;
  cursor: pointer;
  width: 80px;
}


.select-ticket-footer{
  padding-left: 20px;
  margin-right: 10px;
  display:flex;
  justify-content: space-between;
  border-top: 1px solid #E0E0E2;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.select-ticket-other-info{
  display: flex;
  justify-content: space-between;
  line-height: 43px;
  width: 50%;
}

.select-ticket-other-info label{
  vertical-align: middle;
  margin-right: 5px;
}

.select-ticket-action{

}

.select-ticket-action button{
  background-color: #00ab44;
  cursor:pointer;
      color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 22px;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
  width: auto;
  height: auto;
  border: 0;
  padding: 11px 20px;
  text-align: center;
}

.select-ticket-action button:hover{
  background-color: #01451B;
  color: white;
  margin:0 auto;
}
